{% extends 'layout.html' %}

{% block content %}

    <form method="post" novalidate>
        <div class="row clearfix">
            {% for field in form %}
                {% csrf_token %}
                <div class="col-sm-6">
                    <div class="form-group" style="position: relative;margin-bottom: 25px">
                        <label for="{{ field.id_for_label }}">
                            {{ field.label }}
                            {% if field.help_text %}
                                <span style="font-weight: 400;color: #333333;">（{{ field.help_text }}）</span>
                            {% endif %}
                        </label>
                        {{ field }}
                        <span style="color: red;position: absolute;">{{ field.errors.0 }}</span>
                    </div>
                </div>

            {% endfor %}
        </div>

        <button type="submit" class="btn btn-primary">保 存</button>
    </form>

{% endblock %}
