{% extends 'layout.html' %}
{% block content %}
    <style>
    a{
        text-decoration: none;
    }
    </style>
    <div>
        <div class="container">
            <div style="margin-bottom: 10px">
                <a class="btn btn-success" href="/class/add/">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                    新建班级
                </a>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    班级列表
                </div>

                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>班级</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for obj in queryset %}
                        <tr>
                            <th>{{ obj.id }}</th>
                            <td>
                                <a href="/student/list">{{ obj.title }}</a>
                            </td>
                            <td>
                                <a class="btn btn-primary btn-xs" href="/class/{{ obj.id }}/edit/">
                                    <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>编辑
                                </a>
                                <a class="btn btn-danger btn-xs" href="/class/delete/?nid={{ obj.id }}">
                                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>删除
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}