<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>商品列表</title>
</head>
<body>
<h1>商品列表</h1>
<a href="https://www.mi.com/shop/buy/detail?product_id=18075" target="_blank">
    <img src="static/0cf5e958bc88727b50c5c5fba7a8f47a.jpg">
</a>

<a href="https://www.mi.com/shop/buy/detail?product_id=10050021" target="_blank">
    <img src="static/6dd2f3e0de4e6cbba98fd3799cfa5bf7.jpg">
</a>

<a href="https://www.mi.com/xiaomimixfold2" target="_blank">
    <img src="static/d7d4be1a9e701e16de498f89b1865867.jpg">
</a>
</body>
</html>