<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="../static/common.css">
</head>
<body>

<form method="get" action="/user_list">
    <h1 class="a1">用户注册</h1>
    <div class="a2">
      用户名：<input type="text" name="user"/>
    </div>
    <br>
    <div class="a2">
      密码: <input type="password" name="password"/>
    </div>
    <div>
      性别:<input type="radio" name="gender" value="1">男
          <input type="radio" name="gender" value="2">女
    </div>
    <div>
      爱好: <input type="checkbox" name="hobby" value="basketball">篮球
           <input type="checkbox" name="hobby" value="football">足球
           <input type="checkbox" name="hobby" value="table tennis">乒乓球
    </div>
    <div>
      城市:
          <select>
            <option value="bj">北京</option>
            <option value="sh">上海</option>
            <option value="sz">深圳</option>
          </select>
    </div>
    <div>
        备注: <textarea rows="5" name="more"></textarea>
    </div>
    <div>
        <input type="submit" value="submit提交">
    </div>
</form>

</body>
</html>