<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user_list</title>
</head>
<body>
<h1>登录成功</h1>
<table border="1">
  <thead>
    <tr>
      <th>姓名</th>
      <th>照片</th>
      <th>年龄</th>
      <th>电话</th>
      <th>更多信息</th>
      <th>操作</th>
    </tr>
  </thead>

  <tbody>
  <tr>
    <th>李四</th>
    <th><img src="static/0cf5e958bc88727b50c5c5fba7a8f47a.jpg" style="height: 50px"></th>
    <th>14</th>
    <th>120</th>
    <th><a href="https://www.mi.com/shop/buy/detail?product_id=18075" target="_blank">更多信息</a></th>
    <th>编辑 删除</th>
  </tr>
  </tbody>

  <tbody>
  <tr>
    <th>王五</th>
    <th><img src="static/6dd2f3e0de4e6cbba98fd3799cfa5bf7.jpg" style="height: 50px"></th>
    <th>15</th>
    <th>119</th>
    <th><a href="https://www.mi.com/shop/buy/detail?product_id=10050021" target="_blank">更多信息</a></th>
    <th>编辑 删除</th>
  </tr>
  </tbody>

  <tbody>
  <tr>
    <th>张启强</th>
    <th><img src="static/d7d4be1a9e701e16de498f89b1865867.jpg" style="height: 50px"></th>
    <th>16</th>
    <th>10086</th>
    <th><a href="https://www.mi.com/xiaomimixfold2" target="_blank">更多信息</a></th>
    <th>编辑 删除</th>
  </tr>
  </tbody>


</table>
</body>
</html>